<!-- <div class="main-cotronller">
    <div class="tieude1" style=" background-color: #3a4bcd; list-style: none;">
        <div class="container">
            <nav aria-label="tieude">
                <ol class="tieude">
                    <li class="tieude-item">
                        <a href="">Trang chủ / </a>
                    </li>
                    <li class="tieude-item">
                        CNTT /
                    </li>
                    <li class="tieude-item">
                        JAVA
                    </li>
                </ol>
            </nav>
        </div>
    </div>
</div>
<div class="main-2">
    <div class="container mt-2 pb-0">
        <div class="row mt-4">
            <div class="col-8">
                <div class="test-list">
                    <div class="test-item">
                        <div class="container">
                            <div class="card card-default">
                                <div class="mb-3">
                                    <h1 class="text-danger" style="font-size: 20px;">Quản lý câu hỏi</h1>
                                    <label for="exampleFormControlInput1" class="form-label fw-bold">Câu hỏi: </label>
                                    <input type="text" class="form-control" id="exampleFormControlInput1"
                                        placeholder="Nhập câu hỏi">
                                    <hr class="dropdown-divider text-dark mt-4">
                                    <label for="exampleFormControlInput1" class="form-label fw-bold">Câu trả lời 1:
                                    </label>
                                    <div class="input-group mb-3">
                                        <span class="input-group-text" id="basic-addon1">A</span>
                                        <input type="text" class="form-control" placeholder="Nhập câu trả lời thứ nhất"
                                            aria-describedby="basic-addon1">
                                    </div>
                                    <hr class="dropdown-divider text-dark mt-4">
                                    <label for="exampleFormControlInput1" class="form-label fw-bold">Câu trả lời 2:
                                    </label>
                                    <div class="input-group mb-3">
                                        <span class="input-group-text" id="basic-addon1">B</span>
                                        <input type="text" class="form-control" placeholder="Nhập câu trả lời thứ hai"
                                            aria-describedby="basic-addon1">
                                    </div>
                                    <hr class="dropdown-divider text-dark mt-4">
                                    <label for="exampleFormControlInput1" class="form-label fw-bold">Câu trả lời 3:
                                    </label>
                                    <div class="input-group mb-3">
                                        <span class="input-group-text" id="basic-addon1">C</span>
                                        <input type="text" class="form-control" placeholder="Nhập câu trả lời thứ ba"
                                            aria-describedby="basic-addon1">
                                    </div>
                                    <hr class="dropdown-divider text-dark mt-4">
                                    <label for="exampleFormControlInput1" class="form-label fw-bold">Câu trả lời 4:
                                    </label>
                                    <div class="input-group mb-3">
                                        <span class="input-group-text" id="basic-addon1">D</span>
                                        <input type="text" class="form-control" placeholder="Nhập câu trả lời thứ tư"
                                            aria-describedby="basic-addon1">
                                    </div> -->
<!-- <hr class="dropdown-divider text-dark mt-4"> -->
<!-- <label for="exampleFormControlInput1" class="form-label fw-bold">Chọn bộ câu hỏi để
                                        thêm: </label> -->
<!-- <select class="form-select" aria-label="Default select example"> -->
<!-- <option selected>Open this select menu</option> -->
<!-- <option value="1">One</option>
                                        <option value="2">Two</option>
                                        <option value="3">Three</option>
                                    </select> -->
<!-- <div class="mt-3" style="margin-left: 625px;">
                                        <button type="button" class="btn btn-success">Thêm</button>
                                        <button type="button" class="btn btn-danger ">Hủy</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-4 d-flex justify-content-center" >
                <div class="list-group " style="width: 320px; overflow:scroll; height: 360px; border: 20px;" >
                    <a href="#" class="list-group-item list-group-item-action active fw-bold text-center"
                        aria-current="true" style="font-size: 20px;  background: #3a4bcd;">
                        Các đề thi khác 
                    </a>
                    <a href="#" class="list-group-item list-group-item-action" ng-repeat = "sub in subjects">
                        <div class="title">
                            {{sub.Quizzs.length}} Câu hỏi trắc nghiệm môn {{sub.Name}}
                        </div>
                        <p>
                            <span class="num-question">{{sub.Quizzs.length}} câu</span>
                            <span class="num-attempt">590 lượt xem</span>
                        </p>
                    </a> -->
<!-- <a href="#" class="list-group-item list-group-item-action">
                        <div class="title">
                            250 Câu hỏi trắc nghiệm Javascript, CSS, HTML có đáp án
                        </div>
                        <p>
                            <span class="num-question">350 câu</span>
                            <span class="num-attempt">590 lượt xem</span>
                        </p>
                    </a>
                    <a href="#" class="list-group-item list-group-item-action">
                        <div class="title">
                            350 Câu hỏi trắc nghiệm môn Lập trình mạng
                        </div>
                        <p>
                            <span class="num-question">350 câu</span>
                            <span class="num-attempt">590 lượt xem</span>
                        </p>
                    </a>
                    <a href="#" class="list-group-item list-group-item-action">
                        <div class="title">
                            350 Câu hỏi trắc nghiệm môn Lập trình mạng
                        </div>
                        <p>
                            <span class="num-question">350 câu</span>
                            <span class="num-attempt">590 lượt xem</span>
                        </p>
                    </a>
                    <a href="#" class="list-group-item list-group-item-action">
                        <div class="title">
                            350 Câu hỏi trắc nghiệm môn Lập trình mạng
                        </div>
                        <p>
                            <span class="num-question">350 câu</span>
                            <span class="num-attempt">590 lượt xem</span>
                        </p>
                    </a>
                    <a href="#" class="list-group-item list-group-item-action">
                        <div class="title">
                            350 Câu hỏi trắc nghiệm môn Lập trình mạng
                        </div>
                        <p>
                            <span class="num-question">350 câu</span>
                            <span class="num-attempt">590 lượt xem</span>
                        </p>
                    </a> -->
<!-- </div>
            </div>
        </div>
    </div>
</div>
</div> -->
<div class="main-cotronller">
    <div class="tieude1" style=" background-color: #3a4bcd; list-style: none;">
        <div class="container">
            <nav aria-label="tieude">
                <ol class="tieude">
                    <li class="tieude-item">
                        <a href="">Trang chủ / </a>
                    </li>
                    <li class="tieude-item">
                        CNTT /
                    </li>
                    <li class="tieude-item">
                        JAVA
                    </li>
                </ol>
            </nav>
        </div>
    </div>
</div>
<div class="main-2">
    <div class="container mt-2 pb-0">
        <div class="row mt-4">
            <div >
                <div class="test-list">
                    <div class="test-item">
                        <div class="container">
                            <div class="card card-default">
                                <h1>{{Quizzs.length}} câu trắc nghiệm {{subject.Name}}</h1>
                                <p>
                                    Tổng hợp {{Quizzs.length}} câu hỏi trắc nghiệm {{subject.Name}} có đáp án đầy đủ
                                    nhằm giúp
                                    các bạn dễ dàng ôn tập lại toàn bộ các kiến thức. Để ôn tập hiệu quả các bạn
                                    có thể ôn theo từng phần trong bộ câu hỏi này bằng cách trả lời các câu hỏi
                                    và xem lại đáp án và lời giải chi tiết. Sau đó các bạn hãy chọn tạo ra đề
                                    ngẫu nhiên để kiểm tra lại kiến thức đã ôn. Chúc các bạn thành công!
                                </p>
                                <div class="detail-question mt-3" style="padding: 10px; min-height: 45px;">
                                    <div class="row">
                                        <div class="num-question col-5" style="padding-left: 12px !important;">
                                            <span style="font-size: 15px;">
                                                <i class="fa fa-check-square-o" aria-hidden="true"></i>
                                                {{Quizzs.length}} câu
                                            </span>
                                        </div>
                                        <div class="num-check col-6"
                                            style="padding-right: 12px !important;text-align: right; padding-top: 5px;">
                                            <span style="font-size: 15px;">
                                                <i class="fa fa-user" aria-hidden="true"></i>
                                                567 lượt thi
                                            </span>
                                        </div>
                                    </div>
                                </div>
                                <div class="select-content-question mt-4">
                                    <h1 class="text-danger" style="font-size: 20px;">Quản lý câu hỏi</h1>
                                    <div class="overflow-auto" style="height: 700px !important;">
                                        <div ng-repeat="q in Quizzs" ng-init="qIndex = $index">
                                            <label for="exampleFormControlInput1" class="form-label fw-bold">Câu hỏi
                                                {{qIndex + 1}}:
                                                <button type="button" class="btn btn-danger"
                                                    ng-click="deleteAnswer(q.id)">Xóa</button>
                                            </label>
                                            <textarea name="" id="" cols="30" rows="10" class="form-control"
                                                ng-model="q.Text"></textarea>
                                            <hr class="dropdown-divider text-dark mt-4">
                                            <!-- <label for="exampleFormControlInput1" class="form-label fw-bold">Câu trả lời 1:
                                            </label>
                                            <div class="input-group mb-3">
                                                <span class="input-group-text" id="basic-addon1">A</span>
                                                <input type="text" class="form-control"
                                                    placeholder="Nhập câu trả lời thứ nhất" aria-describedby="basic-addon1">
                                            </div>
                                            <hr class="dropdown-divider text-dark mt-4">
                                            <label for="exampleFormControlInput1" class="form-label fw-bold">Câu trả lời 2:
                                            </label>
                                            <div class="input-group mb-3">
                                                <span class="input-group-text" id="basic-addon1">B</span>
                                                <input type="text" class="form-control"
                                                    placeholder="Nhập câu trả lời thứ hai" aria-describedby="basic-addon1">
                                            </div>
                                            <hr class="dropdown-divider text-dark mt-4">
                                            <label for="exampleFormControlInput1" class="form-label fw-bold">Câu trả lời 3:
                                            </label>
                                            <div class="input-group mb-3">
                                                <span class="input-group-text" id="basic-addon1">C</span>
                                                <input type="text" class="form-control"
                                                    placeholder="Nhập câu trả lời thứ ba" aria-describedby="basic-addon1">
                                            </div>
                                            <hr class="dropdown-divider text-dark mt-4">
                                            <label for="exampleFormControlInput1" class="form-label fw-bold">Câu trả lời 4:
                                            </label>
                                            <div class="input-group mb-3">
                                                <span class="input-group-text" id="basic-addon1">D</span>
                                                <input type="text" class="form-control"
                                                    placeholder="Nhập câu trả lời thứ tư" aria-describedby="basic-addon1">
                                            </div> -->
                                            <div class="form-check" ng-repeat="ans in q.Answers">
                                                <input class="form-check-input" type="radio"
                                                    name="flexRadioDefault_{{qIndex}}"
                                                    ng-checked="ans.id === q.AnswerId" ng-click="q.AnswerId = ans.id">
                                                <textarea name="" id="" cols="78" rows="2"
                                                    ng-model="ans.Text"></textarea>
                                            </div>
                                            <div class="form-group">
                                                <button type="button" class="btn btn-primary"
                                                    ng-click="addAnswer(qIndex)">Add</button>
                                                <button type="button" class="btn btn-danger"
                                                    ng-click="removeAnswer(qIndex)">Remove</button>
                                            </div>
                                            <hr class="my-5">
                                        </div>
                                    </div>
                                    <div class="button mt-5">
                                        <div class="row">
                                            <div class="col-lg-6 col-md-12">
                                                <button type="button" class="btn btn-warning text-light fw-bold"
                                                    style="width: 320px; height: 52px;"
                                                    ng-click="addQuizz()">Thêm</button>
                                            </div>
                                            <div class="col-lg-6 col-md-12">
                                                <a href="">
                                                    <button type="button" class="btn btn-success text-light fw-bold"
                                                        style="width: 320px; height: 52px;"
                                                        ng-click="saveQuizzs()">Lưu</button>
                                                </a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- <div class="col-4 d-flex justify-content-center">
                <div class="list-group " style="width: 320px; overflow:scroll; height: 360px; border: 20px;">
                    <a href="#" class="list-group-item list-group-item-action active fw-bold text-center"
                        aria-current="true" style="font-size: 20px;  background: #3a4bcd;">
                        Các đề thi khác
                    </a>
                    <a href="#" class="list-group-item list-group-item-action" ng-repeat="sub in tests">
                        <div class="title">
                            {{Quizzs.length}} Câu hỏi trắc nghiệm môn {{subject.Name}}
                        </div>
                        <p>
                            <span class="num-question">{{Quizzs.length}} câu</span>
                            <span class="num-attempt">590 lượt xem</span>
                        </p>
                    </a> -->
                    <!-- <a href="#" class="list-group-item list-group-item-action">
                        <div class="title">
                            250 Câu hỏi trắc nghiệm Javascript, CSS, HTML có đáp án
                        </div>
                        <p>
                            <span class="num-question">350 câu</span>
                            <span class="num-attempt">590 lượt xem</span>
                        </p>
                    </a>
                    <a href="#" class="list-group-item list-group-item-action">
                        <div class="title">
                            350 Câu hỏi trắc nghiệm môn Lập trình mạng
                        </div>
                        <p>
                            <span class="num-question">350 câu</span>
                            <span class="num-attempt">590 lượt xem</span>
                        </p>
                    </a>
                    <a href="#" class="list-group-item list-group-item-action">
                        <div class="title">
                            350 Câu hỏi trắc nghiệm môn Lập trình mạng
                        </div>
                        <p>
                            <span class="num-question">350 câu</span>
                            <span class="num-attempt">590 lượt xem</span>
                        </p>
                    </a>
                    <a href="#" class="list-group-item list-group-item-action">
                        <div class="title">
                            350 Câu hỏi trắc nghiệm môn Lập trình mạng
                        </div>
                        <p>
                            <span class="num-question">350 câu</span>
                            <span class="num-attempt">590 lượt xem</span>
                        </p>
                    </a>
                    <a href="#" class="list-group-item list-group-item-action">
                        <div class="title">
                            350 Câu hỏi trắc nghiệm môn Lập trình mạng
                        </div>
                        <p>
                            <span class="num-question">350 câu</span>
                            <span class="num-attempt">590 lượt xem</span>
                        </p>
                    </a> -->
                <!-- </div>
            </div> -->
        </div>
    </div>
</div>
</div>