
<div class="main-cotronller">
    <div class="tieude1" style=" background-color: #3a4bcd; list-style: none;">
        <div class="container">
            <nav aria-label="tieude">
                <ol class="tieude">
                    <li class="tieude-item">
                        <a href="">Trang chủ / </a>
                    </li>
                    <li class="tieude-item">
                        Đăng nhập
                    </li>
                </ol>
            </nav>
        </div>
    </div>
    <div class="row m-0">
        <div class="col-lg-5 col-sm-12 col-md-12 mx-auto">
            <div class="form-login">
                <div class="card-controll card card-defualt mt-5">
                    <form name="myForm" style="margin: 0 auto; width: 80%; padding: 31px 0;">
                        <div class="col-12">
                            <h1 style="height: 28px;
                                    font-size: 21px;
                                    font-weight: 700;
                                    text-align: center;
                                    margin: 0 auto;
                                    line-height: 1.3;">Xin chào! Chúc bạn một ngày tốt lành</h1>
                        </div>
                        <div class="d-flex justify-content-center" style="margin-top: 40px;">
                            <button class="btn btn-primary"
                                style="padding: 15px; width: 100%; font-size: 19px; font-weight: 500; background: #375aab;">
                                <span>Đăng nhập nhanh bằng Facebook</span>
                            </button>
                        </div>
                        <div class="login-or">
                            <hr class="hr-or dropdown-divider text-dark">
                            <span class="span-or">hoặc</span>
                        </div>
                        <input type="email" name="email" required ng-model="email"
                            placeholder="Nhập Email hoặc số điện thoại">
                        <div style="color:red" ng-if="myForm.email.$touched && myForm.email.$invalid">
                            <span ng-if="myForm.email.$error.required">Vui lòng nhập email</span>
                            <span ng-if="myForm.email.$error.email">Vui lòng nhập đúng định dạng email</span>
                        </div>
                        <input class="form1" type="password" ng-model="pass" placeholder="Nhập mật khẩu">

                        <p class="mt-2 mb-2" style="text-align: right !important;">
                            Quên mật khẩu?
                            <a href="" style="text-decoration: none;">Nhấn vào đây</a>
                        </p>
                        <div class="d-flex justify-content-center mt-4">
                            <button ng-click="loginBtn()" class="btn btn-danger "
                                style="padding: 15px; width: 100%; font-size: 19px; font-weight: 500; background: #f86060; ">
                                <span>Đăng nhập</span>
                            </button>
                        </div>
                        <p style="line-height: 1.1; font-size: 14px; margin-top: 30px; text-align: center;">
                            Nếu bạn chưa có tài khoảng?
                            <a href="#!Singup" style="text-decoration: none;">Đăng kí ngay</a>
                        </p>
                    </form>

                </div>
            </div>
        </div>
    </div>
</div>
</div>