@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@300;500;600;700;800;900;1000&display=swap');

* {
    font-family: 'Nunito';
}

.container {
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
}

.accout-box a {
    background: #b2deff;
    height: 44px;
    display: inline-block;
    line-height: 44px;
    border-radius: 22px;
    padding-right: 0 !important;
}

.accout-box a span {
    font-family: "Nunito", sans-serif;
    font-size: 13px;
    line-height: 1.1;
    font-weight: 700;
    color: #065592;
    padding-left: 10px;
}

.im_login {
    background: url(/images/user-icon.png) no-repeat center #065592;
    float: right;
    width: 37px;
    height: 37px;
    border-radius: 50%;
    margin: 4px 4px 4px 9px;
}

ol {
    padding: 10px;
    display: flex;
    flex-wrap: wrap;
    list-style: none;
    vertical-align: baseline;
    margin-left: 120px;
}

ol li a {
    text-decoration: none;
    color: #fff;
}

ol li a:hover {
    text-decoration: none;
    text-decoration: underline;
    color: #fff;
}

ol li {
    line-height: 1.6;
    font-size: 13px;
    color: #fff;
    display: inline;
    list-style: none;
}

.card {
    padding: 35px 32px 35px 32px;
    width: 100%;
    margin-bottom: 20px;
    background: #fff;
}

.card h1 {
    text-align: center;
    padding-bottom: 4px;
    max-width: 32px 0 20px;
    font-size: 20px;
    font-weight: 700;
    line-height: 3;
}

.card p {
    font-size: 15px;
    line-height: 1.1;
    font-weight: 400;
}

.detail-question {
    background: #ececec;
    border-radius: 8px;
    min-height: 120px;
}

.select-content-question h3 {
    padding-bottom: 4px;
    font-size: 15px;
    line-height: 1.1;
    font-weight: 700;
    margin-bottom: 10px;
    margin-top: 10px;
    color: #fe4500;
}

.exam-content ul li {
    border-bottom: 1px solid #d9d9d9;
    padding-bottom: 22px;
    margin-top: 20px;
}

.exam-content ul li h4{
    font-size: 16px;
    line-height: 10px;
    font-weight: 700;
}
.exam-content ul li p{
    font-size: 16px;
    line-height: 30px;
    font-weight: 400;
}
.list-group .list-group-item .title {
    font-weight: 700;
    font-size: 13px !important;
    padding-left: 0;
    padding-right: 0;
    margin-left: 15px;
    margin-right: 10px !important
}

.num-question {
    float: left !important;
    margin-right: 40px;
    margin-left: 10px;
    padding-top: 5px;
}

.num-attempt {
    float: left !important;
    padding-top: 5px;
}

.list-group .list-group-item p {
    font-family: "Nunito", sans-serif;
    font-size: 11px;
    line-height: 1.36;
    font-weight: 400;
    color: #a5a5a5;
    padding: 5px;
}

footer {
    max-height: 100%;
    background: #3a4bcd;
}

footer .footer-logo {
    margin: 0 auto 39px;
    display: table;
    padding-top: 48px;
}

footer .footer-nav h4 {
    color: #fc0;
    font-size: 13px;
    line-height: 6;
    font-weight: 700;
    text-transform: uppercase;
}

footer .footer-nav a {
    text-decoration: none;
    color: #fff;
    font-size: 13px;
    line-height: 2.5;
    font-weight: 400;
    display: block;
}

footer .cuoi {
    font-size: 13px;
    line-height: 15px;
    font-weight: 500;
    padding: 37px;
    text-align: center;
}